<% title "Siglas" %>

<table>
  <tr>
    <th>Sigla</th>
  </tr>
  <% for sigla in @siglas %>
    <tr>
      <td><%=h sigla.sigla %></td>
      <td><%= link_to "Show", sigla %></td>
      <td><%= link_to "Edit", edit_sigla_path(sigla) %></td>
      <td><%= link_to "Destroy", sigla, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Sigla", new_sigla_path %></p>
