<% form_for @user, :url => { :action => "register" } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name, "Nome" %><br />
    <%= f.text_field :name %> <%= field_hint 'ex: Fabiano P Soriani'%>
  </p>
  <p>
    <%= f.label :email, "E-Mail" %><br />
    <%= f.text_field :email %> <%= field_hint 'Este e-mail será usado para confirmação'%>
  </p>
	<br/>
  <p>
    <%= f.label :country, "País" %><br />
    <%= f.select :country, CountryList.read.collect {|p| [ p[1], p[0] ] } %> <%= field_hint 'País de residência'%>
  </p>
  <!--<p>
    <%= f.label :state, "Estado" %><br />
    <%= f.text_field :state %>
  </p> -->
  <p>
    <%= f.label :language, "Idioma" %><br />
    <%= f.select :language, LanguageList.read.collect {|p| [ p[0], p[1] ] } %> <%= field_hint 'Seu idioma de preferência'%>
  </p>
	<br/>
  <p>
    <%= f.label :password, "Senha" %><br />
    <%= f.password_field :password %> <%= field_hint 'Deve ter mais de 4 dígitos !'%>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirmação de Senha" %><br />
    <%= f.password_field :password_confirmation %> <%= field_hint 'Repita aqui sua senha'%>
  </p>
  <br/>
  <p>
    <%= f.label "ReCaptcha:"%>
    <%= recaptcha_tags( :display => {:theme => 'clean'} )%>
  </p>
  <br />
  <p><%= f.submit 'Salvar' %></p>
<% end %>
