<% title "Up" %>

<p>
  <strong>Definition:</strong>
  <%=h @up.definition_id %>
</p>
<p>
  <strong>User:</strong>
  <%=h @up.user_id %>
</p>

<p>
  <%= link_to "Edit", edit_up_path(@up) %> |
  <%= link_to "Destroy", @up, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", ups_path %>
</p>
