<% form_for @definition do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :id_sigla %><br />
    <%= f.text_field :id_sigla %>
  </p>
  <p>
    <%= f.label :definition %><br />
    <%= f.text_field :definition %>
  </p>
  <p>
    <%= f.label :creator_id %><br />
    <%= f.text_field :creator_id %>
  </p>
  <p>
    <%= f.label :language %><br />
    <%= f.text_field :language %>
  </p>
  <p><%= f.submit %></p>
<% end %>
