<% title "Flags" %>

<table>
  <tr>
    <th>Definition</th>
    <th>Snitch -&gt;</th>
		<th>Tells -&gt;</th>
    <th>Criminal?</th>
		
		<th></th>
  </tr>
  <% for flag in @flags %>
    <tr style="background-color:<%= cycle('#e4d4fc', 'transparent')%> "> 
      <td><%= link_to flag.definition.sigla.sigla, url_def(flag.definition.sigla.sigla) %>: (<%=flag.definition.language[0,2]%>) <%= flag.definition.definition %> </td>
      <td style="color: #222;"><%= link_to '.', url_user(flag.user.id, 'snitch') %><%=h flag.user.name %></td>
      <td><em><%=h flag.obs %></em></td>
			<td style="color: #222; "><%= link_to '.', url_user(flag.definition.user.id, 'criminal') %><%=h flag.definition.user.name %></td>
			
      <td><%= link_to image_tag('accept.gif')+"Ok", edit_flag_path(flag) %></td>
			<td><%= link_to image_tag('deny.gif')+"Deny", flag %></td>
      <!--td><%= link_to "Destroy", flag, :confirm => 'Are you sure?', :method => :delete %></td-->
    </tr>
  <% end %>
</table>

<p><%= link_to "New Flag", new_flag_path %></p>
