<% if @sigla %>
<dl>
  <% @sigla.definitions.each do |d| %>
		<dd>
			<div>
				<span class="lang bigrounded"><%=h d.language[0,2].upcase %></span>
				<span class="def"><%=h d.definition %></span> <br />
				<div class="creator">
					<%=h d.user.name rescue "Robot 6000" %>
				</div>
		 	</div>
	   <br/>
		</dd>
  <% end %>
</dl>
<% else %>
  There's no definitions for <%= @title %>, you can add yours!
<% end %>

<br />
<br />

<div id="madd">
	<span class="round" style="background-color:#009900;font-size:180%;line-height:80%;vertical-align:middle; ">+</span> Adicionar Definição
</div>
	
<br />
<br />

<% form_tag '/central/add_definition' do %>
  <% if @sigla %>
    You can add another definition for <%= @title %>:<br/>
  <% else %>
    No definitions existed for <%= @title %>, you can create one:<br/>    
  <% end %>
  
  <%= hidden_field_tag "sigla", params[:sigla] %>
  
  Your definition of <%= @title %>:
  <%= text_field_tag :new_definer %><br/>
  
  Language/Idiom of your definition:
  <%= text_field_tag :definition_language %><br/>
  
  <%= submit_tag "Add My Definition!" %>
<% end %>

