<% if @sigla %>
<dl>
  <% @sigla.definitions.each do |d| %>
		<dd>
		 <span class="lang"><%=h d.language[0,2].upcase %></span>
	   <span class="def"><%=h d.definition %></span> <br />
		 <span class="creator"><%=h d.user.name rescue "Robot 6000" %></span>
		 
	   <br/>
		</dd>
  <% end %>
</dl>
<% else %>
  There's no definitions for <%= @title %>, you can add yours!
<% end %>

<br />
<br />

<% form_tag "/central/add_definition" do %>
  <% if @sigla %>
    You can add another definition for <%= @title %>:
  <% else %>
    No definitions existed for <%= @title %>, you can create one:    
  <% end %>
  <br/>
  
  <%= hidden_field_tag "sigla", params[:sigla] %>
  
  Your definition of <%= @title %>:<br />
  <%= text_field_tag 'new_definer' %><br />
  
  Language/Idiom of your definition:<br />
  <%= select_tag 'definition_language', options_for_select([["", nil]] + LanguageList.read.collect {|p| [ p[0], p[1] ] }) %><br />
  
  <%= submit_tag 'Add my definition!' %>
  
<% end %>
