<% if @sigla %>
<dl>
  <% @sigla.definitions.each do |d| %>
		<dd>
			<div id="def<%= d.id %>">
				<div class="definitionb">
					<span> <span class="lang bigrounded"><%=h d.language[0,2].upcase %></span> <span class="def"><%=h d.definition %></span> </span>
				</div>
				<div class="feedbackb">
					<%= image_tag 'uhand.png', :title => "Exatamente o que eu queria saber!",  :onclick => "up_request(#{d.id})" %> 
					<%= image_tag 'dhand.png', :title => "Essa definição é inapropriada..",    :onclick => "flag_request(#{d.id})" %>  
				</div>
				<div class="creator">
					<%=h d.user.name %>
				</div>
		 	</div>
	   <br/>
		</dd>
  <% end %>
</dl>
<% else %>
  There's no definitions for <%= @title %>, you can add yours!
<% end %>

<div id="madd">
	<a href="#add_sigla" onclick="prepare_add(this)"; >
		<span class="round" style="color: #000000; background-color:#009900;font-size:180%;line-height:80%;vertical-align:middle; ">+</span> Adicionar Definição
	</a> <%= image_tag 'ajax-loader.gif', :class => "hidden", :name => "madd-spinner" %> 
</div>

															<!-- Green Form of Definition add -->
<div id="addf" class="hidden">
<% form_tag '/central/add_definition' do %>

  <%= hidden_field_tag "sigla", params[:sigla] %>
	<p>
    <%= label_tag :new_definer, "Definição:" %><br />
    <%= text_field_tag 'new_definer' %>
  </p>
	<p>
    <%= label_tag :definition_language, "Indioma:" %><br />
    <%= select_tag 'definition_language', options_for_select([["", nil]] + LanguageList.read.collect {|p| [ p[0], p[1] ] }) %>
  </p>
	<button type="submit" > Ok! </button>
	
	<div style="font-style: italic; font-size: 75%; line-height: 150%">
  	<sup>1</sup>Faca definições coesas e precisas<br />
		<sup>2</sup>As definições devem ser mínimas<br />
		<sup>3</sup>Exemplo:  FMI - Fundo Monetário Internacional, Português
  </div>
<% end %>
</div>

<script type="text/javascript">
	
	function up_request( id ){
		//TODO spin
		//FIXME bad pratice, could be done by getMyJQuery 
		up = id
		getMyJQuery( up_request_callback )
	}
	function up_request_callback( id ){
		j.ajax({
					url: '/ajax/up',
					data:{definition_id:up}, // FIXME ugly parameter reference
					success: function(data) {
						  alert('Vote succeed!');
						},
					error: function(a,b,c){
							alert('flaw')
						}
					})
	}
	
	
	function flag_request( id ){
		//TODO spin
		getMyJQuery( flag_request_callback )
	}
	function flag_request_callback( id){
		
	}
	
	
	
	function prepare_add(elem){
		// TODO está logado?
		
		elem.attributes.onclick.value = ''
		
		getMyJQuery( prepare_add_done )
		
		var spinner = document.getElementsByName('madd-spinner')
		//debugger
		try {
			spinner.classList.remove('hidden')
		}catch(e){ 	
			spinner.className= "" 
		}
		
	}
	
	function prepare_add_done(){
		j('#madd').slideUp( '', function(){ j('#addf').slideDown( '', function(){ j('html,body').animate({ scrollTop: $('#footer').offset().top }) } ) })
	}
	
	function getMyJQuery( callback ){
		// This means jQuery is loaded
		if( typeof($) == 'function' ){
			callback.call(1)
		}else{
			LazyLoad.load('/javascripts/jquery-1.4.2.js', function(){j=$; callback.call();}, true)
		}
	}
</script>
