<% if @sigla %>
<dl>
  <% @sigla.definitions.each do |d| %>
		<dd>
			<div id="def<%= d.id %>" lang="<%= d.language %>">
				<div class="definitionb">
					<span> <span class="lang bigrounded"><%=h d.language[0,2].upcase %></span> <span class="def"><%=h d.definition %></span> </span>
				</div>
				<div class="feedbackb">
					
					<span class="count"><%= d.ups.count %></span> <%= image_tag 'uhand.png', :class => 'up',     :title => "Exatamente o que eu queria saber!",  :onclick => "up_request(#{d.id}, this)" %> |  
					<%= image_tag 'flag.png', :class => 'report', :title => "Essa definição é inapropriada..",    :onclick => "flag_request(#{d.id}, this)" %>  
				</div>
				<div class="creator">
					<%= link_to( d.user.name, url_user( d.user.id, d.user.name)) rescue 'Conta removida' %>
				</div>
		 	</div>
	   <br/>
		</dd>
  <% end %>
</dl>
<% else %>
 Ainda não possuimos nenhuma definição para <%= @title %>, seja o primeiro a adicionar uma!
 <br />
 <br />
<% end %>

<div id="madd">
	<a href="#add_sigla" onclick="prepare_add(this);" style="vertical-align:middle;" >
		<%= image_tag 'addblue.png', :alt => '(+)', :title => 'add', :style => "vertical-align:middle;"  %> Adicionar Definição
	</a>  
</div>

															<!-- Green Form of Definition add -->
<div id="addf" class="hidden">
<% form_tag '/central/add_definition' do %>

  <%= hidden_field_tag "sigla", params[:sigla] %>
	<p>
    <%= label_tag :new_definer, "Definição:" %><br />
    <%= text_field_tag 'new_definer' %>
  </p>
	<p>
    <%= label_tag :definition_language, "Idioma:" %><br />
    <%= select_tag 'definition_language', options_for_select([["", nil]] + LanguageList.read.collect {|p| [ p[0], p[1] ] }) %>
  </p>
	<button type="submit" > Ok! </button>
	
	<div style="font-style: italic; font-size: 75%; line-height: 150%">
  	<sup>1</sup>Faca definições coesas e precisas<br />
		<sup>2</sup>As definições devem ser mínimas<br />
		<sup>3</sup>Exemplo:  FMI - Fundo Monetário Internacional
  </div>
<% end %>
</div>

<div id="flagmsg" style="display:none">
	<p style="float:right; margin: -25px -5px 0 0" > <input style="text-align: left; margin-left: 20px; margin-top: 20px" type="button" onclick="j.closeDOMWindow();" value="Cancelar [X]" /> </p>
	<p style="font-size:140%; font-weight: bold;"> Definição Inapropriada? </p>
	<p class="defflag" style="background-color:#FFEFC6; border-bottom:1px dotted #9F8ECB; font-size: 80%">  </p>
	<p style="font-size: 90%">
		<input type="radio" name="motivo" class="pre" value="spam" checked="checked" /> Propaganda <br />
		<input type="radio" name="motivo" class="pre" value="typo" /> Erro de Digitação <br />
		<input type="radio" name="motivo" class="pre" value="lang" /> Idioma Errado <br />
		<input type="radio" name="motivo" class="pre" value="erro" /> Def. Incorreta <br />
		<input type="radio" name="motivo" class="custom" value="lang" /> Outro: <input type="text" name="other" /> <br />
	</p>
	<p>
	 <input style="float: right; margin-right: 40px" type="button" value="Ok" onclick="send_flag_proxy(this);"/> 
	</p>
</div>
<%= javascript_include_tag 'application.js' %>
<!--% flash[:notice] = "thiwas" %-->