<% if @sigla %>
<dl>
  <% @sigla.definitions.each do |d| %>
		<dd>
			<div>
				<span class="lang bigrounded"><%=h d.language[0,2].upcase %></span>
				<span class="def"><%=h d.definition %></span> <br />
				<div class="creator">
					<%=h d.user.name %>
				</div>
		 	</div>
	   <br/>
		</dd>
  <% end %>
</dl>
<% else %>
  There's no definitions for <%= @title %>, you can add yours!
<% end %>

<br />
<br />

<div id="madd">
	<a href="#add_sigla" onclick="prepare_add(this)"; >
		<span class="round" style="color: #000000; background-color:#009900;font-size:180%;line-height:80%;vertical-align:middle; ">+</span> Adicionar Definição
	</a> 
</div>
<br />
<br />
<div id="addf" class="hidden">
<% form_tag '/central/add_definition' do %>
  <% if @sigla %>
    You can add another definition for <%= @title %>:<br/>
  <% else %>
    No definitions existed for <%= @title %>, you can create one:<br/>    
  <% end %>
  
  <%= hidden_field_tag "sigla", params[:sigla] %>
  
  Your definition of <%= @title %>:
  <%= text_field_tag :new_definer %><br/>
  
  Language/Idiom of your definition:
  <%= text_field_tag :definition_language %><br/>
  
	<button type="submit" ><!--%= image_tag 'ajax-loader.gif', :class => "hidden", :name => "hidden" %--> Add My Definition! </button>
<% end %>
</div>

<script type="text/javascript">
	function prepare_add(elem){
		elem.attributes.onclick.value = ''
		
		// TODO está logado?
		document.getElementById('addf').className= ""
		
		
		/*try{
		 var hids = document.querySelectorAll('.hidden')
		}
		catch(e){
		 var hids = document.getElementsByName('hidden')
		}
		hids[0].className= ""
		hids[1].className= "" */
		
		//LazyLoad.load('/javascripts/jquery-1.4.2.js', function(){j=$; prepare_add_done();}, '1')
	}
	
	//function prepare_add_done(){ }
</script>
