<% if @sigla %>
<dl>
  <% @sigla.definitions.each do |d| %>
		<dd>
			<div id="def<%= d.id %>">
				<div class="definitionb">
					<span> <span class="lang bigrounded"><%=h d.language[0,2].upcase %></span> <span class="def"><%=h d.definition %></span> </span>
				</div>
				<div class="feedbackb">
					<%= image_tag 'uhand.png', :class => 'up',     :title => "Exatamente o que eu queria saber!",  :onclick => "up_request(#{d.id}, this)" %> 
					<%= image_tag 'dhand.png', :class => 'report', :title => "Essa definição é inapropriada..",    :onclick => "flag_request(#{d.id}, this)" %>  
				</div>
				<div class="creator">
					<%= link_to d.user.name, url_user( d.user.id, d.user.name) %>
				</div>
		 	</div>
	   <br/>
		</dd>
  <% end %>
</dl>
<% else %>
 Ainda não possuimos nenhuma definição para <%= @title %>, seja o primeiro a adicionar uma!
 <br />
 <br />
<% end %>

<div id="madd">
	<a href="#add_sigla" onclick="prepare_add(this)"; >
		<span class="round" style="color: #000000; background-color:#009900;font-size:180%;line-height:80%;vertical-align:middle; ">+</span> Adicionar Definição
	</a> <%= image_tag 'ajax-loader.gif', :class => "hidden", :name => "madd-spinner" %> 
</div>

															<!-- Green Form of Definition add -->
<div id="addf" class="hidden">
<% form_tag '/central/add_definition' do %>

  <%= hidden_field_tag "sigla", params[:sigla] %>
	<p>
    <%= label_tag :new_definer, "Definição:" %><br />
    <%= text_field_tag 'new_definer' %>
  </p>
	<p>
    <%= label_tag :definition_language, "Idioma:" %><br />
    <%= select_tag 'definition_language', options_for_select([["", nil]] + LanguageList.read.collect {|p| [ p[0], p[1] ] }) %>
  </p>
	<button type="submit" > Ok! </button>
	
	<div style="font-style: italic; font-size: 75%; line-height: 150%">
  	<sup>1</sup>Faca definições coesas e precisas<br />
		<sup>2</sup>As definições devem ser mínimas<br />
		<sup>3</sup>Exemplo:  FMI - Fundo Monetário Internacional, Português
  </div>
<% end %>
</div>

<script type="text/javascript">
	
	var spinner = new Image();
	spinner.name = "madd-spinner"
	spinner.src = "/images/ajax-loader.gif"
	
	
	//			* DEF FEEDBACK *
	
	
	function up_request( id, node ){
		//FIXME bad pratice, could be done by getMyJQuery?
		up = id
		load_and_run( up_request_callback )
		try{ j(spinner).show() } catch(e){}
		node.parentNode.appendChild( spinner )
	}
	function up_request_callback( id ){
		j.ajax({
					url: '/ajax/up',
					data:{definition_id:up}, // FIXME ugly parameter reference
					
					success: function(data) {
							j('[name="madd-spinner"]').hide()
						  flash_notice('Obrigado por Votar');
							j('#def'+up+'>.feedbackb>.up').addClass('selected')
							j('[name="madd-spinner"]').hide()
						},
					error: function(a,b,c){
							flash_notice('Ops.. Voto Repetido ou Muitos votos seguidos');
							j('[name="madd-spinner"]').hide()
						}
					})
	}
	
	
	function flag_request( id, node ){
		flag = id
		load_and_run( flag_request_callback )
		try{ j(spinner).show() } catch(e){}
		node.parentNode.appendChild( spinner )
	}
	function flag_request_callback( id){
		if (user_id) {
			var obs = prompt('Por favor um breve comentário sobre o motivo da sinalização (spam, erro, ..)') 
			if(obs){
				j.ajax({
					url: '/ajax/flag',
					data: {
						definition_id: flag,
						obs: obs
					}, // FIXME ugly parameter reference
					success: function(data){
						j('[name="madd-spinner"]').hide()
						flash_notice('Obrigado por Votar');
						j('#def' + flag + '>.feedbackb>.report').addClass('selected')
						j('[name="madd-spinner"]').hide()
					},
					error: function(a, b, c){
						flash_notice('Ops.. Voto Repetido ou Muitos votos seguidos');
						j('[name="madd-spinner"]').hide()
					}
				})
			}
		}
		else {
			flash_notice( "Ops.. você não está logado ou seu passe expirou, por favor faça Login ↗" )
			j('html,body').animate({ scrollTop: 0 })
		}
		setTimeout( "j('[name=\"madd-spinner\"]').hide()", 300)
	}
	
	
	//			* ADD DEF *
	
	
	function prepare_add(elem){
		elem.attributes.onclick.value = ''
		load_and_run( prepare_add_done )
		try{ j(spinner).show() } catch(e){}
		elem.parentNode.appendChild( spinner )
	}
	// FIXME Do primeiro click em diante ele buga e não aparece nada 
	function prepare_add_done(){
		if( user_id ){
			j('#madd').slideUp( '', function(){ 
							j('#addf').slideDown( '', function(){
										j('html,body').animate({
											 		scrollTop: $('#footer').offset().top }) } ) })
		}else{
			flash_notice( "Ops.. você não está logado ou seu passe expirou, por favor faça Login ↗" )
			j('html,body').animate({ scrollTop: 0 })
		}
		j('[name="madd-spinner"]').hide()
	}
	
	
	
	//			* VISUAL *
	
	function flash_notice( msg ){
		//Assumes jQuery is present
		j('#notib').html( msg ).fadeIn()
		setTimeout( "j('#notib').fadeOut()", 5000 )
	}
	
	function flash_error( msg ){
		//Assumes jQuery is present
		j('#errob').html( msg ).fadeIn()
		setTimeout( "j('#errob').fadeOut()", 5000 )
	}
	
	
	
	//			* BASE *
	 
	function load_and_run( callback, arg ){
		if( typeof($) == 'function' ){
			// This means jQuery is loaded
			callback( (typeof( arg ) != 'undefined' ? arg : true))
		}else{
			LazyLoad.load('/javascripts/jquery-1.4.2.js', function(arg){ j=$; callback( (typeof( arg ) != 'undefined' ? arg : true) )}, arg)
		}
	}
</script>
<!--% flash[:notice] = "thiwas" %-->