<html>
  <head>
    <%= stylesheet_link_tag 'style' %>
    
  </head>
  <body>
    <%= link_to('Home', root_url) %>
    <% if session[:user] %>
      <%= link_to('Log out', logout_url) %>
    <% else %>
      <%= link_to('Log in', login_url)%>
      <%= link_to('Register', register_url)%>
    <% end %>
    
    <%= flash[:auth_needed] %>
    <%= flash[:notice] %>
    
    <%= yield %>
  </body>
</html>