<!DOCTYPE html>
<html>
	<head>
		<!-- 
		#TODO MAximizar: siglas 'acronimos' abreviações
		REF http://www.abbreviations.com/acronyms
		-->
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title><%=@title%> - </title>
		<link rel="stylesheet" href="/stylesheets/base.css" type="text/css" />
		<%= javascript_include_tag 'lazyload-1.0.4-min.js' %>
		<script type="text/javascript">
			var user_id = false;
			<%= "user_id = #{session[:user][:id]}" if session[:user] %> 
		</script>
	</head>
	<body>
		<!-- top strip -->
		<div id="ts">
			<div id="ts_left">
				<nobr>
					<span id="lang"><%= image_tag 'bra_16_11.jpg' %> <%= image_tag 'por_16_11.jpg' %> PORTUGUÊS</span> <span><%= link_to('HOME', root_url) %></span>
				</nobr>
			</div>
			<div id="ts_right">
				<nobr>
          <% if session[:user] %>
						<strong><%= link_to session[:user][:name], url_user( session[:user][:id], session[:user][:name]) %></strong> | 
            <%= link_to('LOG OUT', logout_url) %>
          <% else %>
            <%= link_to('LOG IN', login_url)%> | 
            <%= link_to('CADASTRO', register_url)%>
          <% end %>
				</nobr>
			</div>
			<div style="left: 0pt;" class="pillar"></div>
			<div style="right: 0pt;" class="pillar"></div>
		</div>
		
		<!-- server: warns, success, auth -->
		<div id="response">
			&nbsp;
				<% hide = "style='display:none'"%>
				<div class="round error"   id="authb"  <%= hide unless flash[:auth_needed] %> >  <%= flash[:auth_needed] %> </div>
	    	<div class="round succeed" id="notib" <%= hide unless flash[:notice] %> >  <%= flash[:notice] %> </div>
				<div class="round error"   id="errob"<%= hide unless flash[:error] %> >  <%= flash[:error] %> </div>
			&nbsp;
		</div>
		
		<!-- main -->
		<div id="container">
			
			<!-- header and content -->
			<div id="chb">
				<div>
					<div id="logoc">
						<h1 class="logo">LOGO LINDO</h1>
					</div>
					<div id="titlec">
						<h2> <%= @title or "#Undefined" %> </h2>
					</div>
					
					<!--%= link_to "Add Definition", :controller => "central", :action => "add_definition_for_sigla", :sigla => @sigla %-->
					
					<div class="chb_rigth">
						.
					</div>
				</div>
			</div>
			
			<!-- neck -->
			<div id="neck">
				<div style="float: right;">.</div>
				<div>
					<div id="ni">
						<%= @moto or "#Suppar good!" %>
					</div>
				</div>
			</div>
			
			<!-- stage -->
			<div id="stage">
				<div id="sc">
					
					<%= yield %>
					
				</div>
				<!-- need some filling 
				<div id="sr"><%= @ad or right_filling()  %></div>
				-->
				
				<!-- menu -->
				<div id="sl">
					<% form_tag '/definition', :method => 'GET' do %>
						<div id="sb">
								<%= text_field_tag :sigla %> <button type="submit">Busca</button>
						</div>
					<% end %>
				</div>
				
			</div>
			
			<div id="footer">
				<div id="fpag"><nobr> <%= @pag %> </nobr></div>
				<div id="fabout"> who are US ?</div>
			</div>
			
			
		</div>
	</body>
</html>
