<!DOCTYPE html>
<html>
	<head>
		<!-- 
		#TODO MAximizar: siglas 'acronimos' abreviações
		-->
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Siglas</title>
		<link rel="stylesheet" href="stylesheets/base.css" type="text/css" /> 
	</head>
	<body>
		<!-- top strip -->
		<div id="ts">
			<div id="ts_left">
				<nobr>
					<span id="lang"><%= image_tag 'bra_16_11.jpg' %> <%= image_tag 'por_16_11.jpg' %> PORTUGUÊS</span> <span><%= link_to('HOME', root_url) %></span>
					<% form_tag '/definition' do %>
					 <%= text_field_tag :sigla %>
					 <%= submit_tag "Search Sigla" %>
					<% end %>
				</nobr>
			</div>
			<div id="ts_right">
				<nobr>
          <% if session[:user] %>
            <%= session[:user][:name] %>
            <%= link_to('LOG OUT', logout_url) %>
          <% else %>
            <%= link_to('LOG IN', login_url)%> | 
            <%= link_to('REGISTER', register_url)%>
          <% end %>
				</nobr>
			</div>
			<div style="left: 0pt;" class="pillar"></div>
			<div style="right: 0pt;" class="pillar"></div>
		</div>
		
		<div id="response">
			&nbsp;
			<% if flash[:auth_needed] %>
				<div class="round error">  <%= flash[:auth_needed] %> </div>
			<% end %>
			<% if flash[:notice] %>
	    	<div class="round succeed">  <%= flash[:notice] %> </div>
			<% end %>
			<% if flash[:error] %>
				<div class="round error">  <%= flash[:error] %> </div>
			<% end %>
			&nbsp;
		</div>
		
		<!-- main -->
		<div id="container">
			
			<!-- header and content -->
			<div id="chb">
				<div>
					<div id="logoc">
						<h1 class="logo">LOGO LINDO</h1>
					</div>
					<div id="titlec">
						<h2> <%= @title or "#Undefined" %> </h2>
					</div>
					
					<!--%= link_to "Add Definition", :controller => "central", :action => "add_definition_for_sigla", :sigla => @sigla %-->
					
					<div class="chb_rigth">
						pebles...
					</div>
				</div>
			</div>
			
			<!-- neck -->
			<div id="neck">
				<div style="float: right;">...</div>
				<div>
					<div id="ni">
						Suppar good!
					</div>
				</div>
			</div>
			
			<!-- stage -->
			<div id="stage">
				<div id="sc">
					
					<%= yield %>
					
				</div>
				<div id="sr"><%= @ad %></div>
				<div id="sl">menu</div>
			</div>
			
			<div id="footer">
				<div id="fpag"><nobr> <%= @pag %> </nobr></div>
				<div id="fabout"> who are US ?</div>
			</div>
			
			
		</div>
	</body>
</html>
